* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.table {
    background-color: darkgreen;    
    padding: 20px;
}

.drop {
    border: 3px dashed #003200;
    border-radius: 20px;
        
    height: 200px;
    padding: 10px;
    margin: 50px 0;
}

.card {
    height: 100px;
    margin: 5px;
}

.space {
    display: inline-block;    
    margin: 20px;
    vertical-align: middle;
}

.manilha {
    padding: 50px;
}

.message-board {
    padding: 4px;
    margin: 0 100px;
    background-color: #001800;
    display: inline-block;
    width: 500px;    
    height: 800px;
    vertical-align: top;    
}

.message {
    margin: 2px;
    padding: 2px;
    border: 1px solid black;
    background-color: white;
}